eval/math_evaluation/data/tabmwp/test.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_100k.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_30k.jsonl filter=lfs diff=lfs merge=lfs -text
data/magpie10k.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_10k.jsonl filter=lfs diff=lfs merge=lfs -text
