# Python
__pycache__/
*.py[cod]
*.pyo
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Logs
*.log

# Local runs/output
runs/
**/plot/result*/

# Build artifacts
build/
dist/
*.egg-info/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Virtual env
.venv/
venv/
